@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <h1>Hi, I'm Coleman </h1>
    <ul class="mainList">
        <li>.Net Developer (C# - WinForms, C# - MVC) </li>
        <li>Javascript (MERN stack) Developer</li>
        <li>Tech Enthusiast</li>
    </ul>
</div>
<br/>
<div class="container">
<p>Here are a few of my most recent projects:</p>
<div class="row">
    <div class="col">
    <ul>
        <li>
                        <a href="https://github.com/CharleeBrown/PDFtoXLS">PDFtoXLS</a>
                        <p>A Winforms application written in C# that converts PDF to XLS format.</p>
        </li>
    </ul>
    </div>
            <div class="col">
                <ul>
                    <li>
                        <a href="https://github.com/CharleeBrown/Stray-Thought-Tracker">Stray Thought Tracker</a>
                        <p>A Winforms application (C#)  that sends the entered data to a MongoDB database .</p>
                    </li>
                </ul>
            </div>
</div>
</div>
<script src="~/css/"></script>